<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<title>About Page</title>
</head>
<body>
  <h1>help page</h1>
  <h3>{{pageTitle}}</h3>
  <p>Some text here</p>

</body>
<footer>
  Copy right @{{currentYear}}
</footer>

</html>
