<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<title>About Page</title>
</head>
{{>header}}
<body>

  <h3>{{pageTitle}}</h3>
  <h3>{{screamIt person.name}} {{person.likes}}</h3>
  <p>{{someMessage}}</p>

</body>
{{>footer}}

</html>
